@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LineSeed";
  src: url("../public/fonts/LINESeedSansTH_Rg.otf"), url("../public/fonts/LINESeedSansTH_He.otf"), url("../public/fonts/LINESeedSansTH_Bd.otf"),
    url("../public/fonts/LINESeedSansTH_Th.otf"), url("../public/fonts/LINESeedSansTH_XBd.otf");
}

::-webkit-scrollbar {
  display: none;
}

#reader video, #qr-shaded-region {
  border-radius: 1rem;
}